html body
  font-family Sarasa Term SC Medium,Poppins,Lato,Calibri,Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Heiti SC,Hiragino Sans GB,Microsoft YaHei,Dengxian,Simsun,sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
@require 'content'